*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box ;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* box1 */
.nav-logo{
    height: 50px ;
    width: 113px ;
}

.logo{
    background-image: url("amazon_logo.png");
    height: 50px ;
    width: 100% ;
    background-size: cover;
}
.border:hover{
    border: 2px solid white;
    border-radius: 2px;
}

/* box2 */
#first-add{
    color:#cccccc ;
    font-size: 0.75rem ;
    margin-left: 15px;
}

#sec-add{
   font-size: 0.85rem;
   margin-left: 3px ;
}

.add-icon{
    display:flex ;
    align-items: center;
}
.nav-address{
    margin: 5px 2px 5px 0px ;
    padding : 0px 9px ;
}

/* box3 */
.nav-search{
    display:flex;
    height: 40px ;
    width: 800px ;
    border-radius: 4px;
}

.search-select{
    color: #0f1111;
    background-color:#f4f4f4 ;
     padding : 0px 0px 0px 5px ; 
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
   
}
.search-input{
    width : 700px ;
    font-size: 1rem;
    border: none;
    /* padding : 7px 10px 10px 0px ; */
}

.search-icon{
    background-color:rgba(255, 166, 0, 0.908) ;
    color: #0f1111;
    width : 57px ;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-search:active{
    border: 4px solid orange;
}

/* box4 */

.nav-country{
    display:flex ;
    align-items: center;
}
.nav-img{
    height: 16px ;
    width: 18px;
    margin: 0 ;
}
.search-country{
    font-size: 15px;
    height:45px ;
    width : 55px ;
    color: #D6D6D6;
    background-color: #0f1111;
    border-color: #0f1111;
    text-align: center;
    
}

/* box5  + box6 - due to same styling used*/
.nav-des{
    font-size: 14px;
    margin: 3px;
    color: #D6D6D6;
}
.search-list{
    font-size: 15px;
    color: #ffffff;
    background-color: #0f1111;
    border: none;
    
}

/* box7 */
.nav-cart{
    display: flex;
}
.nav-cart i{
    font-size: 30px;
}

.name-cart{
    font-size: 15px;
}

.panel{
    background-color: #222f3d;
    height: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    display: flex;
    padding : 7px 8px ;
    font-size: 16px;
}

.icon-label{
    font-size: 14px;
    padding-left: 5px;
}

.panel-opp{
    width: 70%;
}
.panel-opp a{
    padding: 8px 9px ;
    margin : 5px 0px 6px ;
    text-decoration: none ;
    color: white;
    
}

.panel-deals a{
    text-decoration: none;
    color: white;
    
}

.borderNew:hover{
    border: 2px solid white;
    height: 45px;
    border-radius: 4px;
}

/* Hero-section */
.hero-section{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.goto_previous{
    margin-bottom: 180px ;
}
.goto_nextPage{
    margin-bottom: 180px ;
}
.hero-msg p{
    font-size: 14px;
}
.hero-msg a{
    font-size: 14px;
    text-decoration: none;
    color: #007185;
}

.hero-msg{
    color: #0f1111;
    background-color: #f5f6f6;
    height: 30px;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 30px;
}

.box{
    height: 420px;
    width: 23%;
    margin-top: 15px;
    padding: 20px 0px 15px;
    background-color: #ffffff;
}

.shop-section{
     display: flex;
     flex-wrap: wrap; 
     justify-content: space-evenly; 
    background-color: #e2e7e6;

}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a{
    text-decoration: none;
    color: #007185;
}

/* footer */
.foot-panel1{
    height: 19px;
    padding: 15px 0px;
    background-color: #33404e;
}

.foot-panel1 a{
    text-decoration: none;
    color: white ;
    display: flex;
    justify-content: center;
}

.foot-panel2{
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 p{
    margin-bottom: 5px;
    color: white;
    font-size: 1.10rem;
    font-weight: 700;
}

.foot-panel2 a{
    margin-top: 10px ;
    font-size: 0.85rem;
    color: #dddddd;
    text-decoration: none;
    
}
.foot-panel2 a:hover{
    margin-top: 10px ;
    font-size: 0.85rem;
    color: #dddddd;
    text-decoration:underline;
    
}
.foot-panel2 li{
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav-ops{
    padding : 0px 10px;
    margin-top: 15px;
    height: 300px;
    width: 220px;
}

.foot-panel3{
    height: 80px ;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.25px solid white ;
}

.foot-logo{
    background-image: url("amazon_logo.png");
    height: 50px ;
    width: 100% ;
    background-size: cover;
    width: 100px;
    margin-right: 100px;
}

.foot-nav-but{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35px;
    width: 140px;
    background-color: #222f3d;
    color: #cccccc;
    border: 2px solid grey;
    border-radius: 2px;
}

.nav-footerLine{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    padding : 6px 18px 6px 18px ;
}

@media screen and (max-width : 800px){
    .navbar .panel{
        width : 100%;
    }

    .hero-section .shop-section{
        width: 50%;
    }


}
